[user]
	name = Matěj Grabovský
	email = matej@mgrabovsky.net
[core]
	pages = less
[push]
	default = simple
[pull]
	rebase = true
[color]
	interactive = auto
	ui = auto
	pager = true
[color "status"]
	branch = black yellow
	nobranch = white red bold
	untracked = magenta
	changed = cyan
	added = blue
[color "branch"]
	current = black yellow
[color "diff"]
	meta = magenta
	hunk = magenta
	commit = blue
	frag = magenta
	new = green
	old = red
	whitespace = white red
[format]
	pretty = oneline
[log]
	abbrevCommit = true
	decorate = false
	date = relative
[alias]
	a = add
	ci = commit
	cim = commit -m
	co = checkout
	d = diff
	ds = diff --stat
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	p = push
	st = status
	ru = remote update
