xterm*faceName: Consolas for Powerline:size=10:antialias=true
xterm*termName: xterm-256color
xterm*utf8:     true
xterm*selectToClipboard: true
! Change what is considered a word when selecting with double click
xterm*charClass: 33:48,36-39:48,42-47:48,58-59:48,61:48,63-64:48,95:48,126:48
! Select URLs on triple click
XTerm*on3Clicks: regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+
! Open highlighted links with Alt-click
*VT100*translations: #override Meta <Btn1Up>: exec-formatted("firefox-aurora '%t'", CLIPBOARD)

!-------------------------------------------------------------------------------
*background: #1d2426
*foreground: #8fa388

*cursorcolor: #be5e1e

*color0:  #39474a
*color1:  #986345
*color2:  #788249
*color3:  #9b6a46
*color4:  #3e5951
*color5:  #b9924a
*color6:  #5d796a
*color7:  #d6c9a4
*color8:  #4c5f63
*color9:  #b07350
*color10: #869151
*color11: #af6b42
*color12: #567a6e
*color13: #d69d55
*color14: #668574
*color15: #e5dec9
