xterm*faceName: DejaVu Sans Mono:size=10:antialias=true
xterm*termName: xterm-256color
xterm*utf8:     true
xterm*selectToClipboard: true
! Change what is considered a word when selecting with double click
xterm*charClass: 33:48,36-39:48,42-47:48,58-59:48,61:48,63-64:48,95:48,126:48
! Select URLs on triple click
XTerm*on3Clicks: regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+
! Open highlighted links with Alt-click
*VT100*translations: #override Meta <Btn1Up>: exec-formatted("firefox-aurora '%t'", CLIPBOARD)

!-------------------------------------------------------------------------------
! Colors (X::Poppy)
! See also: dotshare.it
*background: #f0f0f0
*foreground: #181512
*cursorColor: #181512

!! black
*color0:     #373737
*color8:     #474747
!! red (red)
*color1:     #cc4141
*color9:     #ba2929
!! green (green)
*color2:     #43803d
*color10:    #2f632a
!! yellow
*color3:     #dbab3b
*color11:    #c79520
!! blue
*color4:     #7882bf
*color12:    #596196
!! magenta (magenta)
*color5:     #bf849c
*color13:    #b06a86
!! cyan (light blue)
*color6:     #6aa9b0
*color14:    #4d8b91
!! white (pink)
*color7:     #e39036
*color15:    #c97820
